    <% @beginning_of_month = Date.current.beginning_of_month %>
  <% @end_of_month = Date.current.end_of_month %>
<table class="ui celled table">
    <thead>
        <tr>
   <th>Sunday</th><th>Monday</th>
   <th>Tuesday</th><th>Wednesday</th>
   <th>Thursday</th><th>Friday</th>
   <th>Saturday</th>
  </tr>
  <tr>


<% (@beginning_of_month..@end_of_month).each do |d| %>
<% if d == @beginning_of_month %>
<% d.wday.times do %> <td class='offset'></td> <% end %>
<% end %>

<% if d.wday == 0 %> </tr><tr><% end %>
<td style="position:relative;padding-top:25px;height:6em;"> <div class="datenum"><%= d.day %></div>
    <% Lesson.where(start_time: d.all_day).each do |l| %>
    <%= link_to l.student.last_name, edit_lesson_path(l), :class => "ui button small fluid" %>
    <% end %>
</td>


<% end %>
</tr>
</table>