<div class="col-container">
  
<h1 class="center-h">Adam Hanna Ballroom Dance</h1>
</div>

<div class="col-container">
  <div class="col">
      <%= Lesson.all.count %>
      Lessons
  </div>
  <div class="col">
    <%= Lesson.all.count %>
      Lessons
  </div>
  <div class="col">
    <%= Lesson.all.count %>
      Lessons
  </div>  
</div>

