<%= week_calendar events: @lessons do |date, lessons| %>
    <%= date %>

        <% lessons.each do |lesson| %>
            <div>
               <%= link_to lesson.student.last_name + " " + lesson.lesson_date.strftime("%I:%M%p"), lesson, :class=>"ui button" %>
            </div>
            <% end %>
                <% end %>
  